@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
  color: darkslategray;
  background:#ddd;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

h1 {
    /* width:100%;
    height:100%; */
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size:99px;
    text-align:center;
}
/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Montserrat;
} */